/*Media Queries for responsive design8?*/
@media screen and (max-width: 576px) {
  h1 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .nav-links ul {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .banner-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .banner-text p {
    font-size: 1rem;
    font-weight: regular;
  }

  .banner-image img {
    width: 100%;
    height: auto;
  }

  .plants {
    margin-top: 2rem;
  }

  .plants-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .flower {
    flex-direction: column;
    gap: 0;
    margin-top: 3rem;
  }

  .flower-image img {
    width: 100%;
    height: auto;
  }

  .trusted-badge {
    display: none;
  }

  .flower-text ul {
    padding-left: 1.2rem;
  }

  .flower-text ul li {
    font-size: 1rem;
  }

  .deals {
    margin-top: 2rem;
  }

  .deals-text p {
    font-size: 1rem;
    font-weight: regular;
    margin: 0;
  }

  .deals-image {
    margin-top: 2rem;
    flex-direction: column;
  }

  .deals-left,
  .zabo {
    width: 100%;
    height: auto;
  }

  .zabo {
    height: 200px;
  }

  .zabo h4 {
    font-size: 1.25rem;
  }

  .zabo .btn {
    font-size: 1rem;
  }

  .join {
    height: 300px;
    margin-top: 50px;
  }

  .join-title h3 {
    font-size: 1.5rem;
  }

  .join-field input {
    width: 12rem;
    height: 3rem;
  }

  .btn-subscribe {
    width: 7rem;
    height: 3rem;
  }

  .footer {
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
  }

  .footer-logo {
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner {
    margin: 0 1.2rem;
  }

  .banner-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem auto;
  }

  .nav-links ul {
    gap: 20px;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 0;
  }

  .banner-image img {
    width: 100%;
    height: auto;
  }

  .plants {
    margin-top: 3rem;
  }

  .plants-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .flower {
    flex-direction: column;
    gap: 0;
    margin-top: 4rem;
  }

  .flower-text ul {
    padding-left: 1.2rem;
  }

  .trusted-badge {
    display: none;
  }

  .deals {
    margin-top: 2rem;
  }

  .deals-text p {
    font-size: 1rem;
    font-weight: regular;
    margin: 0;
  }

  .deals-image {
    margin-top: 2rem;
    flex-direction: column;
  }

  .deals-left,
  .zabo {
    width: 100%;
    height: auto;
  }

  .zabo {
    height: 200px;
  }

  .zabo h4 {
    font-size: 1.25rem;
  }

  .zabo .btn {
    font-size: 1rem;
  }

  .join {
    height: 360px;
    margin-top: 60px;
  }

  .join-title h3 {
    font-size: 2rem;
  }

  .join-field input {
    width: 20rem;
  }

  .social-icon ul {
    flex-direction: column;
  }
}
