/* Universal styling */
* {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Noto Serif", serif;
  color: #000000;
}
span {
  color: #e95a08;
}
body {
  background-color: #f5f8ff;
}
.main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

/* Header styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
nav img {
  width: 8.5rem;
  height: auto;
}
.nav-links,
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}
.nav-links ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #8987a1;
}
.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}
.cart img {
  width: 1.4rem;
  height: auto;
}

/* Banner styling */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 7.5rem;
  padding-top: 6.5rem;
}
.banner-text {
  max-width: 36rem;
  padding: 0 1.2rem;
}
.banner-text h1 {
  font-size: 4rem;
  font-weight: 700;
}
.banner-text p {
  font-size: 1.4rem;
  font-weight: regular;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  text-align: justify;
}
.banner-image img {
  width: auto;
  height: auto;
}
/* Plant section styling*/

.plants {
  margin-top: 7.5rem;
}
.plants-text {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}
.plants-text h2 {
  font-size: 3.125rem;
  font-weight: 700;
}
.plants-text p {
  font-size: 1.4rem;
  font-weight: regular;
  color: rgba(0, 0, 0, 0.5);
}
.plants-card {
  margin-top: 3rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plants-card img {
  width: 100%;
  height: auto;
}
.card-title {
  font-size: 1.375rem;
  font-weight: medium;
  color: #111111;
}
.card-price {
  font-size: 1.375rem;
  font-weight: bold;
  color: #111111;
}
.btn-primary {
  width: 100%;
  border: none;
  padding: 1rem;
  background-color: #e95a08;
  color: #ffffff;
  font-size: 1rem;
  font-weight: semibold;
}
